@font-face {
  font-family: "Baskerville";
  src: url("./Assets/Fonts/Baskerville/Baskerville.ttc") format("truetype-collection");
}

@font-face {
  font-family: "Helvetica";
  src: url("./Assets/Fonts/Helvetica/Helvetica.ttc") format("truetype-collection");
}

body {
  margin: 0;
  font-family: "Baskerville", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
}