@font-face {
  font-family: "Baskerville";
  src: url("./Assets/Fonts/Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Baskerville";
  src: url("./Assets/Fonts/Libre_Baskerville/LibreBaskerville-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

body {
  margin: 0;
  font-family: "Baskerville", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
}